.row {
  padding: 32px 64px;

  h2 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
  }
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 64px;

  }
