.genre {
  margin: 0 0 40px;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px 64px;
  }

  &__title {
    text-transform: uppercase;
  }
}
