.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &__logo_img {
    margin: 0 0 28px;
  }

  h2 {
    text-align: center;
    margin-bottom: 8px;
  }

  input {
    font-family: "Play", "Arial", sans-serif;
    font-weight: 400;

    font-size: 18px;
    width: 340px;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #00000066;
    color: #000000;
    background-color: transparent;
  }

  button {
    font-family: "Play", "Arial", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 24px;

    width: 100%;
    margin-top: 8px;
    padding: 16px;
    border-radius: 28px;
    border: none;
    background: #2f80ed;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
  }

  
}

.error {
  color: red;
  font-size: 14px;
  text-align: center;
}

.info {
  color: #555;
  font-size: 14px;
  text-align: center;
}
