.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  width: 420px;
  padding: 64px 40px;
  position: relative;
}

.close {
  position: absolute;
  top: -16px;
  right: -16px;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
  color: #000000;
  width: 48px;
  height: 48px;
  text-align: center;
}

.switch {
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 24px;
  
  margin-top: 16px;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
}
