*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Play", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background:
    linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%),
    linear-gradient(
      178.73deg,
      rgba(39, 135, 245, 0.18) -17.53%,
      rgba(163, 147, 245, 0.18) 131.74%
    );

  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}
