*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffffde;
  background-color: #080c18;

  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  object-fit: cover;
}

a {
  color: #ffffffde;
  text-decoration: none;
}






